<p style="color: green"><%= notice %></p>

<%= render @user %>

<h2>Events created:</h2>
<ul>
    <% @user.events_created.each do |event| %>
      <li>
        <%= link_to event.event_name, event_path(event) %> on <%= event.event_date.strftime("%B %d, %Y") %>
      </li>
    <% end %>
</ul>

<h2>Events attended / to attend</h2>
<ul>
    <% @user.event_registrations.each do |registration| %>
      <li>
        <%= link_to registration.event.event_name, event_path(registration.event) %> on <%= registration.event.event_date.strftime("%B %d, %Y") %>
      </li>
    <% end %>
</ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
