<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h2> Upcoming Events:</h2>

<ul>
  <% Event.upcoming.each do |event| %>
    <li><%= link_to event.event_name, event_path(event) %> on <%= event.event_date.strftime("%B %d, %Y") %></li>
  <% end %>
</ul>

<h2> Past Events:</h2>

<ul>
  <% Event.past.each do |event| %>
    <li><%= link_to event.event_name, event_path(event) %> on <%= event.event_date.strftime("%B %d, %Y") %></li>
  <% end %>
</ul>


<%= link_to "New event", new_event_path %>
